rpc_address: "https://api.mainnet-beta.solana.com"
snapshot_path: "./snapshots"
min_download_speed: 100
max_latency: 200
num_of_retries: 5
sleep_before_retry: 5
private_rpc: false
worker_count: 100
full_threshold: 100000
incremental_threshold: 500
speed_relaxation_factor: 0.9
latency_relaxation_factor: 0.9
max_relaxation_attempts: 3
max_download_retries: 3
denylist:
  - "192.168.1.100"
  - "10.0.0.5"